# ==========================================
# TRABAJO 02 - Visualización computacional
# de transformaciones lineales en ℝ²
# ==========================================
# Python version: 3.11.9

# Renderizado y ventana
pywebview==6.2.1

# Cálculo numérico y álgebra lineal
numpy==2.4.4