# ==========================================
# TRABAJO 02 - Visualizacion computacional
# de transformaciones lineales en R^2
# ==========================================
# Python version: 3.11.9

# Renderizado y ventana
pygame==2.6.1

# Calculo numerico y algebra lineal
numpy==2.4.4